.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-myphoto),
        transparent
        );
        display: grid;
        place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about_me-image:hover {
    transform: rotate(0);
}
/* ======================= Orignal Cards ======================== */

.about_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    
    gap: 2rem;
}

.about__card {
    background: var(--color-primary-verient);
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-my);
    cursor: default;
    box-shadow: 4px 5px 5px rgba(0, 247, 255, 0.5);
}

.about__icon {
    color: var(--color-white);
    
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 0.85rem;
}

.about__card small{
    font-size: 0.9rem;
    color: var(--color-bg);

}

.about_content p {
    margin: 1rem;
    color: var(--color-white);
}
/* ======================= End Cards ======================== */


/* ===================== Media Queries (Medium Device) ====================== */
@media screen and (max-width: 1024px) {
    .about_container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}
 

/* ===================== Media Queries (Small Device) ====================== */
@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about_card{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about_content {
        text-align: center;
    }
    .about_content p{
        margin: 1.5rem 0;
    }
}