.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 20% 68%;
    gap: 15%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-primary-verient);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-verient);
    box-shadow: 4px 5px 5px rgba(255, 255, 255, 0.5);

}



.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}


/* =============================== Form ================================== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-verient);
    resize: none;
    color: var(--color-white);
}


/* ===================== Media Queries (Medium Device) ====================== */
@media screen and (max-width: 1024px){
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}







/* ===================== Media Queries (Medium Device) ====================== */
@media screen and (max-width: 600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
}